<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestTextKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>320521761D351C8B009BFD96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3205218F1D351C8C009BFD96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3205219A1D351C8C009BFD96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
